<main class="container">
  <div class="row">
    <div class="cente-align">
      <h1>Visitator3000</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s10 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Statistiques par jour</span>
          <canvas class="chart" id="chartDay" data-radar=""></canvas>
        </div>
      </div>
    </div>
    <div class="col s10 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Statistiques par semaine</span>
          <canvas class="chart" id="chartWeek" data-radar=""></canvas>
        </div>
      </div>
    </div>
    <div class="col s10 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Statistiques par mois</span>
          <canvas class="chart" id="chartMonth" data-radar=""></canvas>
        </div>
      </div>
    </div>
    <div class="col s10 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Statistiques par année</span>
          <canvas class="chart" id="chartYear" data-radar=""></canvas>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4 l1"><p></p></div>
      <div class="col s12 m4 l10"><p></p></div>
      <div class="col s12 m4 l1">
        <a class="modal-trigger btn-floating btn-large waves-effect waves-light blue-grey lighten-3"><i class="material-icons">mode_edit</i></a>
        </a>
      </div>
    </div>
    <div id="modal1" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>Gestion visite</h4>
        <p>Ajouter ou enlever le nombre de visite en fonction de la journée</p>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s3">
                <input id="count" type="number" class="validate">
                <label for="count">* Nombre de personne</label>
              </div>
              <div class="input-field col s9">
                <input type="date" class="datepicker">
              </div>
            </div>
          </form>
          <p class="infos">* Mettre un nombre positif pour l'ajout et un nombre négatif pour la suppression de visite.</p>
        </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Ajouter</a>
    </div>
  </div>
</div>
</main>
<script src="js/modal.js" ></script>
<script src="js/data.js" ></script>
