<!doctype html>
<html class="no-js" lang="fr">
<head>
		<meta charset="UTF-8">
		<title>Visitator3000</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<%- body %>
</body>
</html>
